# Solpostest

Test file for the solpos package obtained from: https://github.com/NREL/SolarPILOT/tree/21a1466398ec22db24a5a838e5133da58e347b83

In [14]:
from solpos import solpos
import pandas as pd

result = solpos(
    year=2022,
    month=10,
    day=28,
    hour=16,
    minute=26,
    second=0,
    timezone=2,
    latitude=51.44579,
    longitude=7.26274,
)
# solar elevation angle refracted
print(result.elevref)
# solar declination
print(result.declin)
# shadow band correction factor
print(result.sbcf)
# global horizontal solar irradiance
print(result.etr)

13.265267372131348
-13.235824584960938
1.0921502113342285
317.8734130859375

In [10]:
result._asdict()

{'year': 2022,
 'month': 10,
 'day': 27,
 'hour': 16,
 'minute': 26,
 'second': 0,
 'timezone': 2.0,
 'interval': 0,
 'latitude': 51.4457893371582,
 'longitude': 7.262740135192871,
 'amass': 4.193394660949707,
 'ampress': 4.193394660949707,
 'aspect': 180.0,
 'azim': 227.95465087890625,
 'cosinc': 0.2346019744873047,
 'coszen': 0.2346019744873047,
 'dayang': 294.90411376953125,
 'declin': -12.900684356689453,
 'eclong': 214.1495819091797,
 'ecobli': 23.435665130615234,
 'ectime': 8335.1015625,
 'elevetr': 13.503471374511719,
 'elevref': 13.568160057067871,
 'eqntim': 16.142154693603516,
 'erv': 1.0128366947174072,
 'etr': 324.817626953125,
 'etrn': 1384.5477294921875,
 'etrtilt': 324.817626953125,
 'gmst': 16.82879638671875,
 'hrang': 47.79827880859375,
 'julday': 59880.1015625,
 'lmst': 259.6946716308594,
 'mnanom': 292.6064453125,
 'mnlong': 215.931640625,
 'rascen': 211.89639282226562,
 'press': 1013.0,
 'prime': 1.3153156042099,
 'sbcf': 1.093388319015503,
 'sbwid': 7.599999904632568,
 'sbrad': 31.700000762939453,
 'sbsky': 0.03999999910593033,
 'solcon': 1367.0,
 'ssha': 73.29834747314453,
 'sretr': 501.6134948730469,
 'ssetr': 1088.000244140625,
 'temp': 15.0,
 'tilt': 0.0,
 'tst': 911.193115234375,
 'tstfix': -74.806884765625,
 'unprime': 0.760273814201355,
 'utime': 14.433333396911621,
 'zenetr': 76.49652862548828,
 'zenref': 76.43183898925781}

In [11]:
data = [result._asdict()]
df = pd.DataFrame(data)

In [12]:
df

,year,month,day,hour,minute,second,timezone,interval,latitude,longitude,...,sretr,ssetr,temp,tilt,tst,tstfix,unprime,utime,zenetr,zenref
0,2022,10,27,16,26,0,2.0,0,51.445789,7.26274,...,501.613495,1088.000244,15.0,0.0,911.193115,-74.806885,0.760274,14.433333,76.496529,76.431839